/* * * * * * * * * * * * * * * *
 * * * * * *  GENERAL * * * * * *
 * * * * * * * * * * * * * * * */

body {
    background-color: #f1f1f1;
}

.header-container {
    background-color: white;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-container {
    position: relative;
    z-index: 100000;
}

a {
    transition: .1s;
}

a:hover {
    text-decoration: none;
    transform: scale(1.1);
    transition: .3s;
    outline: none;
    font-weight: 500;
    transition: .3s;
}

a:hover + li{
    border: 0px;
}

/* * * * * * * * * * * * * * * *
 * * * * * *  HEADER * * * * * *
 * * * * * * * * * * * * * * * */

header {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a:hover {
    text-decoration: none;
    transition: 0s;
    transform: none;
    letter-spacing: 0px;
    font-weight: default;
}

h1 {
    font-family: 'Rancho', cursive;
    color: #222;
    text-align: center;
    line-height: .8;
    font-size: 44px;
} 

.top {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

.header-text {
    font-size: 60px;
}

.top-dog {
    background-image: url('./imgs/dog1.png');
    background-size: cover;
    height: 100%;
    width: 25%;
    margin-right: 20px;
}

/* * * * * * * * * * * * * * * *
 * * * * * *  NAVBAR * * * * * *
 * * * * * * * * * * * * * * * */

.navbar-light {
    color: white;
    background: linear-gradient(135deg, #2EB4DD, #2EB4DD 60%, #3574C5);
}

.navbar {
    color: white;
    max-height: 56px;
}

.navbar:hover {
    color: white;
}

.nav-container {
    background-color: white;
    padding: 0;
    position: relative;
    z-index: 1000;
}

nav .navlinks {
    text-decoration: none;
    transition: .3s;
}

/* * * * * * * * * * * * * * * 
 * * * * * *  HERO  * * * * * *
 * * * * * * * * * * * * * * */

 .hero {
     width: 100%;
     height: 500px;
 }

 .hero-container {
     padding: 0px;
 }

 .hero-img {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/hero.jpeg');
    background-size: cover;
 }

 /* * * * * * * * * * * * * * * 
 * * * * * *  MAIN  * * * * * *
 * * * * * * * * * * * * * * */

.main-container {
    background-color: white;
}

.donate, .lost-found {
    padding: 20px 20px;
    vertical-align: top;
    height: 308px;
    margin-bottom: 20px;
 }

.lost-found, h2 {
    margin-bottom: 0px
}

.donate-img-container, .lost-found-img-container {
    margin-top: 10px;
    height: 100px;
    width: 100%
}

.donate-img {
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/cat1.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0% 50%;
}

.lost-found-img {
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/dog2.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 80% 80%;
}

.button-container {
    height: 45px;
    width: 100%;
    background-color: #E53478;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container a {
    color: white;
}

 /* * * * * * * * * * * * * * * 
 * * * * * *  SECONDARY  * * * *
 * * * * * * * * * * * * * * * */

.secondary {
    margin-top: 20px;
    padding: 20px;
    max-height: 600px;
    min-height: 300px;
}

.story-content {
    font-size: 16px;
}

.story-img-container {
    height: 250px;
    width: 250px;
    margin: auto;
}

.story-img {
    background-image: url('./imgs/dog3.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .secondary {
        display: flex;
        flex-direction: row-reverse; 
        max-height: 350px;
    }

    .story-content {
     width: 50%;
     font-size: 14px;    
    }

    .story-img-container {
        height: 200px;
        width: 200px;
        margin: auto;
    }
}


 /* * * * * * * * * * * * * 
 * * * * * * FOOTER  * * * *
 * * * * * * * * * * * * * */

.footer-container {
     height: 100px;
     background-color: #222;
}

.footer-left ul{
    color: white;
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.footer-left li {
    display: inline;
    padding-right: 25px;
}

.footer-left a{
    color: white;
}

.footer-right i { 
    color: white;
    padding-left: 25px;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-banner {
    height: 120px;
    margin: 0 auto;
    padding: 0px;
    background-image: linear-gradient(white, transparent), url('./imgs/footer-img.jfif');
    background-size: cover;
    background-position: 90% 90%;
    margin: 50px -15px -20px -15px;
}

@media (max-width: 580px) {
    .icons i {
        font-size: 110%;
        padding-left: 15px;
    }

    .footer-left li {
        padding-right: 10px;
    }
}

@media (min-width: 1300px) {
    .footer-left li {
        font-size: 20px;
    }
}


 /* * * * * * * * * * * * * 
 * * * * * * ABOUT  * * * *
 * * * * * * * * * * * * * */
.about-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-img-container {
    min-height: 270px;
    margin: 0px;
    min-width: 330px;
    max-width: 550px;
}

.about-img-container2 {
    min-height: 270px;
    margin: 0px;
    min-width: 330px;
    max-width: 550px;
}

.about-img {
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/cat2.jpg');
    background-size: cover;
    background-position: 50% 30%;
    width: 100%;
    height: 100%;
}

.about-content {
    padding: 20px;
}

.about-content .button-container {
    margin-bottom: 30px;
}

.about-img2 {
    background-image: url('./imgs/event.jfif');
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .about-img-container {
        min-height: 180px;
        min-width: 100%;
    }

    .about-img-container2 {
        min-height: 240px;
        min-width: 100%;
    }
}


/* * * * * * * * * * * * * 
 * * * * * * ADOPTION  * * * 
 * * * * * * * * * * * * * */

.card-container {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.adopt-card {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adopt-img1{
    background-image: url('./imgs/adopt1.jpg');
    background-size: cover;
    background-position: 100% 20%;
    width: 100%;
    height: 50vH;
}

.adopt-img2{
    background-image: url('./imgs/adopt2.jpg');
    background-size: cover;
    background-position: 100% 20%;
    width: 100%;
    height: 50vH;
}

.adopt-img3{
    background-image: url('./imgs/adopt4.jpg');
    background-size: cover;
    background-position: 0% 60%;
    width: 100%;
    height: 50vH;
}

.adopt-img4{
    background-image: url('./imgs/adopt3.jpg');
    background-size: cover;
    background-position: 50% 10%;
    width: 100%;
    height: 50vH;
}

.adopt-img5{
    background-image: url('./imgs/adopt5.jpg');
    background-size: cover;
    background-position: 100% 40%;
    width: 100%;
    height: 50vH;
}

.adopt-img-container {
    min-height: 270px;
    width: 48%;
    margin: 0px;
    min-width: 330px;
    max-width: 450px;
}

.adopt-content {
    width: 48%;
}

ul button {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .adopt-card {
        flex-direction: column;
    }

    .adopt-content {
        margin-top: 10px;
        width: 85%;
    }

    .adopt-img-container {
        width: 100%;
    }
}

/* * * * * * * * * * * * * 
 * * * * * * CONTACT  * * * 
 * * * * * * * * * * * * * */
 .contact-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-container ul{
    margin-bottom: 20px;
}

.contact-img-container, .contact-img-container2{
    min-height: 270px;
    width: 48%;
    margin: 0px;
    min-width: 330px;
    max-width: 550px;
}

.contact-img1 {
    background-image: url('./imgs/map.gif');
    background-size: cover;
    background-position: 50% 30%;
    width: 100%;
    height: 100%;
}

.contact-content {
    padding: 20px;
}

.contact-img2 {
    background-image: url('./imgs/dog4.jpeg');
    background-size: cover;
    background-position: 10% 80%;
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .contact-img-container {
        min-height: 180px;
        min-width: 100%;
    }

    .contact-img-container2 {
        min-height: 240px;
        min-width: 100%;
    }
}

/* * * * * * * * * * * * * 
 * * * * * * BURGER MENU  * * 
 * * * * * * * * * * * * * */

 .burger {
    visibility: hidden;
    padding: 10px;
}

#button {
    color: white;
    background: none;
    border: none;
    outline: none;
}


@media (max-width: 768px) {
    nav a {
        visibility: hidden;
    }

    .burger {
        visibility: visible;
    }
}

@media (min-width: 768px) {
    .dropdown-container{
        display: none;
        transition: 0s;
    }
}

/* * * * * * * * * * * * * *
  * * * DROPDOWN MENU  * * *
 * * * * * * * * * * * * * */

.dropdown {
    width: 100%;
    background-color: #222;
    position: relative;
    transform: translate(0px, 0px);
    transition: .5s;
}

.closed {
    transform: translate(0px, -325px);
    display: none;
}   

.dropdown a{
    color: white;
    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.dropdown li {
    border-bottom: solid 1px grey;
}

.test {
    z-index: 0;
    margin: 0px;
}

.dropdown-container {
    padding: 0px;
}

#close-button {
    background: none;
    color: white;
    background-color: #B22520;
    margin-top: 0;
    outline: none;
    border: 0px;
    width: 100%;
    padding: 0px;
}