/* * * * * * * * * * * * * * * *
 * * * * * *  GENERAL * * * * * *
 * * * * * * * * * * * * * * * */

body {
    background-color: #f1f1f1;
}

.header-container {
    height: 716px;
    background-color: white;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* * * * * * * * * * * * * * * *
 * * * * * *  HEADER * * * * * *
 * * * * * * * * * * * * * * * */

header {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header a:hover {
    text-decoration: none;
}

h1 {
    font-family: 'Rancho', cursive;
    color: #222;
    text-align: center;
    line-height: .8;
    font-size: 44px;
} 

.top {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

.header-text {
    font-size: 60px;
}

.top-dog {
    background-image: url('./imgs/dog1.png');
    background-size: cover;
    height: 100%;
    width: 25%;
    margin-right: 20px;
}

/* * * * * * * * * * * * * * * *
 * * * * * *  NAVBAR * * * * * *
 * * * * * * * * * * * * * * * */

.navbar-light {
    color: white;
    background: linear-gradient(135deg, #2EB4DD, #2EB4DD 60%, #3574C5);
}

.navbar {
    color: white;
}

.navbar:hover {
    color: white;
}

/* * * * * * * * * * * * * * * 
 * * * * * *  HERO  * * * * * *
 * * * * * * * * * * * * * * */

 .hero {
     width: 100%;
     height: 500px;
 }

 .hero-img {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/hero.jpeg');
    background-size: cover;
 }

 /* * * * * * * * * * * * * * * 
 * * * * * *  MAIN  * * * * * *
 * * * * * * * * * * * * * * */

.main-container {
    background-color: white;
}

.donate, .lost-found {
    padding: 20px 20px;
    vertical-align: top;
    height: 308px;
    margin-bottom: 20px;
 }

.lost-found, h2{
    margin-bottom: 0px
}

.donate-img-container, .lost-found-img-container {
    margin-top: 10px;
    height: 100px;
    width: 100%
}

.donate-img {
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/cat1.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0% 50%;
}

.lost-found-img {
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/dog2.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 80% 80%;
}

.button-container {
    height: 45px;
    width: 100%;
    background-color: #E53478;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container a {
    color: white;
}

 /* * * * * * * * * * * * * * * 
 * * * * * *  SECONDARY  * * * *
 * * * * * * * * * * * * * * * */

.secondary {
    margin-top: 20px;
    padding: 20px;
    max-height: 600px;
    min-height: 300px;
}

.story-content {
    font-size: 16px;
}

.story-img-container {
    height: 250px;
    width: 250px;
    margin: auto;
}

.story-img {
    background-image: url('./imgs/dog3.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .secondary {
        display: flex;
        flex-direction: row-reverse; 
        max-height: 350px;
    }

    .story-content {
     width: 50%;
     font-size: 14px;    
    }

    .story-img-container {
        height: 200px;
        width: 200px;
        margin: auto;
    }
}


 /* * * * * * * * * * * * * 
 * * * * * * FOOTER  * * * *
 * * * * * * * * * * * * * */

.footer-container {
     height: 100px;
     background-color: #222;
}

.footer-left ul{
    color: white;
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.footer-left li {
    display: inline;
    padding-right: 25px;
}

.footer-left a{
    color: white;
}

.footer-right i { 
    color: white;
    padding-left: 25px;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (max-width: 580px) {
    .icons i {
        font-size: 110%;
        padding-left: 15px;
    }

    .footer-left li {
        padding-right: 10px;
    }
}

@media (min-width: 1300px) {
    .footer-left li {
        font-size: 20px;
    }
}


 /* * * * * * * * * * * * * 
 * * * * * * ABOUT  * * * *
 * * * * * * * * * * * * * */

.about-img-container {
    height: 600px;
}

.about-img {
    background-image: url('./imgs/cat2.png');
    background-size: cover;
    background-position: 40%, 40%;
    width: 100%;
    height: 100%;
}

.about-content {
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* ADD TO NAV */
.nav-container {
    background-color: white;
    padding: 0;
}

/* ADOPTION PAGE */
.card-container {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.adopt-card {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adopt-img-container {
    background-color: #222;
    min-height: 270px;
    width: 48%;
    margin: 0px;
    min-width: 330px;
    max-width: 450px;
}

.adopt-content {
    width: 48%;
}

ul button {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .adopt-card {
        flex-direction: column;
    }

    .adopt-content {
        margin-top: 10px;
        width: 85%;
    }

    .adopt-img-container {
        width: 100%;
    }
}