/* * * * * * * * * * * * * * * *
 * * * * * *  GENERAL * * * * * *
 * * * * * * * * * * * * * * * */

body {
    background-color: #f1f1f1;
}

.header-container {
    height: 716px;
    background-color: white;
    padding: 0;
}

/* * * * * * * * * * * * * * * *
 * * * * * *  HEADER * * * * * *
 * * * * * * * * * * * * * * * */

header {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Rancho', cursive;
    color: #222;
    text-align: center;
    line-height: .8;
    font-size: 44px;
} 

.top {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

.header-text {
    font-size: 60px;
}

.top-dog {
    background-image: url('./imgs/dog1.png');
    background-size: cover;
    height: 100%;
    width: 25%;
    margin-right: 20px;
}

/* * * * * * * * * * * * * * * *
 * * * * * *  NAVBAR * * * * * *
 * * * * * * * * * * * * * * * */

.navbar-light {
    color: white;
    background: linear-gradient(135deg, #2EB4DD, #2EB4DD 60%, #3574C5);
}

.navbar {
    color: white;
}

.navbar:hover {
    color: white;
}

/* * * * * * * * * * * * * * * 
 * * * * * *  HERO  * * * * * *
 * * * * * * * * * * * * * * */

 .hero {
     width: 100%;
     height: 500px;
 }

 .hero-img {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/hero.jpeg');
    background-size: cover;
 }

 /* * * * * * * * * * * * * * * 
 * * * * * *  MAIN  * * * * * *
 * * * * * * * * * * * * * * */

 .main-container {
    height: 716px;
    background-color: white;
}

 .donate, .lost-found {
     padding: 20px 20px;
 }

.donate-img-container, .lost-found-img-container {
    margin-top: 10px;
    height: 100px;
    width: 100%
}

.donate-img {
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/cat1.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0% 50%;
}

.lost-found-img {
    background: linear-gradient(45deg, rgba(0,0,0,.4) -20%, transparent), url('./imgs/dog2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 80% 80%;
}

.button-container {
    height: 45px;
    width: 100%;
    background-color: #E53478;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container a {
    color: white;
}